<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1 class="titulo">{{saludo}}</h1>
  
  <ion-button color="primary" routerLink="/pagina1">Página 1</ion-button>
  <ion-button color="secondary" (click)="irPagina2()">Página 2</ion-button>
  <ion-button color="tertiary" (click)="irPagina3()">Página 3</ion-button>
  <ion-button color="primary" routerLink="/pagina4">Página 4</ion-button>

</ion-content>
